* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: black;
    height: 100vh;
}

#container {
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 6fr 2fr 1fr;
}

.pet-container,
.button-container {

    min-width: 90vw;
}

.pet-container {
    grid-column: 2 / 2;
    grid-row: 2 / 2;

    margin: 0 auto;    

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    image-rendering: pixelated;

    border: 5px solid white;
    border-radius: 3px;

}

.pet-name-input {
    border: none;
    border-bottom: white 5px solid;
    background-color: black;
    color: white;
    
    padding: 0.5rem 0;

    text-align: center;
    font-size: large;
    font-weight: 700;

}

.pet-name-display {
    color: white;
    margin-top: -2rem;
}

.age-display  {
    color: white;

    margin-top: -3rem;
}

.pet {

    margin-top: 1rem;

    max-width: 160px;
    max-height: 160px;
}

.button-container {
    grid-column: 2 / 2;
    grid-row: 3 / 3;

    margin: 1rem auto;

    display: flex;
    justify-content: space-evenly;
    gap: 10px;

    border: none;
}

.action-button {
    flex: 1;
    cursor: pointer;

    background-color: transparent;
    color: white;
    font-weight: 900;
    font-size: larger;

    padding: 1rem;
    margin: 1rem auto;
    border: 5px solid white;

    max-width: 50%;

}

/* Stat indicators */

.stats-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;

    width: 100%;
    padding: 0 5px;

    margin-bottom: -2.5rem;

    user-select: none;
}

.indicator-container {
    flex: 1;

    display: flex;
    flex-direction: column;

    justify-content: center;
}

.stat-name {
    color: white;
    font-size: small;
    font-weight: 700;
    text-align: center;

}

.indicator {
    border: white 5px solid;
    margin: 0 5px;

    height: 2rem;
    width: 90%;
}

.level {
    margin: 0;
    padding: 0;

    height: 100%;
    width: 50%;
    background-color: white;
}